/* img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
h1{
    position: absolute;
    background-color: aquamarine;
    text-align: center;
    z-index: -111;
} */

div.box {
  box-shadow: 10px 10px 5px lightblue;
  background-color: yellowgreen;
}